/* send-email-to-candidate.component.css */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-red-300 {
  border-color: #fca5a5;
}